body{
	font-family: "Helvetica Neue", sans-serif;
	margin-top: 100px;
    width: 1080px;
    margin: 0 auto;
    
}

.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    color: #a863e0;
}

h4 {font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    color: #210040;
    
}

h2 {
	font-size: 48px;
	letter-spacing: 2px;
    color: white;
    position: absolute;
    margin-top: -380px;
    margin-left: 120px;
    
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ffe34e;
}

h5 {font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    
}

p{
  /* Old Chrome, Safari and Opera */
  -webkit-column-count: 2; 
  -webkit-column-gap: 40px;
  
  /* Old Firefox */
  -moz-column-count: 2;
  -moz-column-gap: 40px;

  /* Standard syntax */
  column-count: 2;
  column-gap: 40px;
    
  padding-left: 80px;
  padding-right: 80px;
    
  line-height: 2;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
}

.videowrapper{
    width: 920px;
    margin-left: 80px;
}

.caption{
    font-size: 12px;
    color: grey;
}

.taxonomy ul li {
    text-align: center;
    list-style-type:none;
}

.col3 taxonomy {
    width: 360px;
    float: left;
    display: inline-block;
}

.taxonomy{
    background-color: #a863e0;
    width: 920px;
    display: inline-block;
}

.taxonomy ul{
    display: inline-block;
}

.header{
    width: 100%;
}

.navbar {
  width: 1080px;
  background-color: white;
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  /*remove the default style for <a> tag*/
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffe34e;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}

    .intro {
    margin-top: 80px;
}

    .description {
    margin-top: 50px;
}

    .biology {
    margin-top: 50px;
}

    .ecology {
    margin-top: 50px;
}

    .behavior {
    margin-top: 50px;
}

    .resources {
    margin-top: 50px;
}

.bg{
    background-color: #a863e0;
    width:1080px;
}

.bg2{
    background-color: #210040;
    width:1080px;
}

.white{
    color: #ffffff;
}

